.pc-formatted {

}


audio {
    display: block;
    float:left;
    vertical-align: baseline;

}
.pc-audio-player {
    height: 1em;
}
.pc-audio-player-recording {
}
.pc-audio-player-label {
    display: inline-block;
    font-size: 1.5em;
    padding-left: .5em;
}
.pc-graph {
    width: 500px;
    overflow-y: scroll;
}

.pc-graph-words,
.pc-recording-graph
{
    width: 1000000px
}

.pc-graph-labels {
    float: left;
}

.pc-recording-control {

}
.pc-recording-graph {
    color: black;
    background-color: transparent;
}
.pc-recording-phrase {
    display: inline-block;
    margin: 0em;
    padding: 0em;
    cursor: pointer;
}



.pc-line-empty {

}
.pc-line {

}
.pc-word {
    display: inline-block;
    border-width: 0em 0.15em;
    border-style: solid;
}

.pc-recording-control,
.pc-graph
{
    font-size: 1.2em;
}

.pc-recording-control
{
    border-bottom: 1px solid black;
}

.pc-recording-graph,
.pc-graph-words,
.pc-recording-control
{
    border-bottom: 1px solid black;
    padding: 0.3em;
    height: 1.1em;
    overflow-y: hidden;
}

.pc-recording-label {
    display: inline-block;
}

.pc-correlation-none {color: black; background-color: white; border-color: white }
.pc-correlation-all  {color: white; background-color: black; border-color: black }

.pc-correlation-2of3 {color: black; background-color: hsl(  0,  0%, 50%); border-color: hsl(  0, 0%, 50%) }

.pc-correlation-2of4 {color: black; background-color: hsl(  0,  0%, 66%); border-color: hsl(  0, 0%, 66%) }
.pc-correlation-3of4 {color: white; background-color: hsl(  0,  0%, 33%); border-color: hsl(  0, 0%, 33%) }

.pc-correlation-2of5 {color: black; background-color: hsl(  0,  0%, 75%); border-color: hsl(  0, 0%, 75%) }
.pc-correlation-3of5 {color: black; background-color: hsl(  0,  0%, 50%); border-color: hsl(  0, 0%, 50%) }
.pc-correlation-4of5 {color: white; background-color: hsl(  0,  0%, 25%); border-color: hsl(  0, 0%, 25%) }



/* match the foreground of the text to the backgroud color */
.pc-recording-graph .pc-correlation-none { color: white}
.pc-recording-graph .pc-correlation-all  { color: black}

.pc-recording-graph .pc-correlation-2of3 {color: hsl(  0,  0%, 50%); }
.pc-recording-graph .pc-correlation-2of4 {color: hsl(  0,  0%, 66%); }
.pc-recording-graph .pc-correlation-3of4 {color: hsl(  0,  0%, 33%); }
.pc-recording-graph .pc-correlation-2of5 {color: hsl(  0,  0%, 75%); }
.pc-recording-graph .pc-correlation-3of5 {color: hsl(  0,  0%, 50%); }
.pc-recording-graph .pc-correlation-4of5 {color: hsl(  0,  0%, 25%); }


.pc-recording-phrase:hover div.pc-word {
    background-color: red;
    color: red;
    border-color: red;
}

.pc-play-button {
    display: inline-block;
    width: 2em;
    height: 1em;
    overflow-y: hidden;
    cursor: pointer;
}


.pc-phrase-last-word {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border-right-color: red;
}

.pc-phrase-first-word {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border-left-color: red;
}
