.pc-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

@media(min-width: 40em) {
    .pc-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        font-size: 16px;
    }
}

/* formatted poem text */
.pc-formatted {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    overflow-y: scroll;
    padding-left: 0.5em;
}

/* recording broken down */
.pc-info {
    flex-grow: 2;
    flex-shrink: 0;
    padding-left: 0.5em;
}



.pc-graph-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.pc-graph {
    overflow-y: scroll;
}

.pc-graph-labels {
    flex-grow: 0;
    flex-shrink: 0;
}
.pc-graph-words,
.pc-recording-graph
{
    height: 1em;
    width: 100000000px;
}

.pc-tempo {
    position: absolute;
    top:0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: transparent;

}
audio.pc-audio-element {
    display: block;
    vertical-align: baseline;
    max-width: 100%;
}

.pc-audio-players {
    width: 50em;
    max-width: 90%;
    margin-right: 5px;
}

.pc-audio-player-recording {
    display:flex;
    flex-flow: column;
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.2em;
    width: 70%;
    max-width: 70%;
}

.pc-audio-player-label {
    display: inline-block;
    font-size: 2em;
    padding-left: .5em;
}

.pc-audio-info {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.pc-audio-info-label {
    width: 5em;
    flex-shrink: 0;
}

.pc-audio-info-value {
    flex-shrink: 1;
    flex-grow: 1;
}
.pc-recording-graph {
    color: black;
    background-color: transparent;
}

.pc-recording-phrase {
    display: inline-block;
    margin: 0em;
    padding: 0em;
    cursor: pointer;
    position: relative;
}



.pc-line-empty {

}
.pc-line {

}

.pc-formatted .pc-word {
    cursor: pointer;
}

.pc-graph-label,
.pc-graph
{
    font-size: 1.0em;
}

.pc-graph-label
{
    border-bottom: 1px solid black;
}

.pc-recording-graph,
.pc-graph-words,
.pc-graph-label
{
    border-bottom: 1px solid black;
    padding: 0.3em;
    height: 1.1em;
    overflow-y: hidden;
}

.pc-recording-label {
    display: inline-block;
}

.pc-correlation-none {color: black; background-color: white; border-color: white }
.pc-correlation-all  {color: white; background-color: black; border-color: black }
.pc-correlation-not-selected {color: black; background-color: transparent; border-color:transparent}

.pc-correlation-2of3 {color: black; background-color: hsl(  0,  0%, 70%); border-color: hsl(  0, 0%, 70%) }

.pc-correlation-2of4 {color: black; background-color: hsl(  0,  0%, 90%); border-color: hsl(  0, 0%, 90%) }
.pc-correlation-3of4 {color: black; background-color: hsl(  0,  0%, 75%); border-color: hsl(  0, 0%, 75%) }

.pc-correlation-2of5 {color: black; background-color: hsl(  0,  0%, 75%); border-color: hsl(  0, 0%, 75%) }
.pc-correlation-3of5 {color: black; background-color: hsl(  0,  0%, 50%); border-color: hsl(  0, 0%, 50%) }
.pc-correlation-4of5 {color: white; background-color: hsl(  0,  0%, 25%); border-color: hsl(  0, 0%, 25%) }



/* match the foreground of the text to the backgroud color */
.pc-recording-graph .pc-word.pc-correlation-none { color: white}
.pc-recording-graph .pc-word.pc-correlation-all  { color: black}
.pc-recording-graph .pc-word.pc-correlation-not-selected  { color: transparent}

.pc-recording-graph .pc-word.pc-correlation-2of3 {color: hsl(  0,  0%, 70%); }
.pc-recording-graph .pc-word.pc-correlation-2of4 {color: hsl(  0,  0%, 90%); }
.pc-recording-graph .pc-word.pc-correlation-3of4 {color: hsl(  0,  0%, 75%); }
.pc-recording-graph .pc-word.pc-correlation-2of5 {color: hsl(  0,  0%, 75%); }
.pc-recording-graph .pc-word.pc-correlation-3of5 {color: hsl(  0,  0%, 50%); }
.pc-recording-graph .pc-word.pc-correlation-4of5 {color: hsl(  0,  0%, 25%); }

.pc-recording-phrase {
    background-color: transparent;
}

.pc-recording-phrase:hover div.pc-word {
    background-color: red;
    color: red;
    border-color: red;
}

.pc-play-button {
    display: inline-block;
    width: 2em;
    height: 1em;
    overflow-y: hidden;
    cursor: pointer;
}


.pc-phrase-last-word {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border-right-color: red;
}

.pc-phrase-first-word {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border-left-color: red;
}

.pc-word {
    display: inline-block;
    border-width: 0em 0.15em;
    border-style: solid;
    padding: .1em 0em;
}

.pc-legend {
    display: flex;
    flex-flow: row nowrap;
}

.pc-legend-row {
    display: flex;
    flex-flow: row nowrap;
}

.pc-legend-row div {
    padding: 3px;
    margin: 2px;
}

.pc-color-key {
    font-weight: bold;
    padding: 3px;
    margin: 2px;
}
.pc-recording-info-link {
    width: 1em;
    height: 1em;
    font-size: .8em;
    font-style: italic;
    display: inline-block;
    background-color: #3399FF;
    color: #ffffff;
    text-align: center;
    font-width: bold;
    border-radius: 50%;
    margin-left: .4em;
    cursor: pointer;
}