
.pc-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 100%;
}

@media(min-width: 40em) {
    .pc-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: flex-end;
        font-size: 16px;
    }
}

/* formatted poem text */
.pc-formatted {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    overflow-y: scroll;
}

/* recording broken down */
.pc-info {
    flex-grow: 2;
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
}



.pc-graph-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.pc-graph {
    overflow-y: scroll;
}

.pc-graph-labels {
    flex-grow: 0;
    flex-shrink: 0;
}
.pc-graph-words,
.pc-recording-graph
{
    height: 1em;
    width: 100000000px;
}

.pc-tempo {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;

}
audio.pc-audio-element {
    display: block;
    float:left;
    vertical-align: baseline;
}

.pc-audio-players {
    height: 40px;
}

.pc-audio-player-recording {
    display:flex;
    flex-flow: row nowrap;
}

.pc-audio-player-label {
    display: inline-block;
    font-size: 1em;
    padding-left: .5em;
}

.pc-recording-graph {
    color: black;
    background-color: transparent;
}

.pc-recording-phrase {
    display: inline-block;
    margin: 0em;
    padding: 0em;
    cursor: pointer;
    position: relative;
}



.pc-line-empty {

}
.pc-line {

}
.pc-word {
    display: inline-block;
    border-width: 0em 0.15em;
    border-style: solid;
}

.pc-formatted .pc-word {
    cursor: pointer;
}

.pc-graph-label,
.pc-graph
{
    font-size: 1.0em;
}

.pc-graph-label
{
    border-bottom: 1px solid black;
}

.pc-recording-graph,
.pc-graph-words,
.pc-graph-label
{
    border-bottom: 1px solid black;
    padding: 0.3em;
    height: 1.1em;
    overflow-y: hidden;
}

.pc-recording-label {
    display: inline-block;
}

.pc-correlation-none {color: black; background-color: white; border-color: white }
.pc-correlation-all  {color: white; background-color: black; border-color: black }

.pc-correlation-2of3 {color: black; background-color: hsl(  0,  0%, 50%); border-color: hsl(  0, 0%, 50%) }

.pc-correlation-2of4 {color: black; background-color: hsl(  0,  0%, 66%); border-color: hsl(  0, 0%, 66%) }
.pc-correlation-3of4 {color: white; background-color: hsl(  0,  0%, 33%); border-color: hsl(  0, 0%, 33%) }

.pc-correlation-2of5 {color: black; background-color: hsl(  0,  0%, 75%); border-color: hsl(  0, 0%, 75%) }
.pc-correlation-3of5 {color: black; background-color: hsl(  0,  0%, 50%); border-color: hsl(  0, 0%, 50%) }
.pc-correlation-4of5 {color: white; background-color: hsl(  0,  0%, 25%); border-color: hsl(  0, 0%, 25%) }



/* match the foreground of the text to the backgroud color */
.pc-recording-graph .pc-word.pc-correlation-none { color: white}
.pc-recording-graph .pc-word.pc-correlation-all  { color: black}

.pc-recording-graph .pc-word.pc-correlation-2of3 {color: hsl(  0,  0%, 50%); }
.pc-recording-graph .pc-word.pc-correlation-2of4 {color: hsl(  0,  0%, 66%); }
.pc-recording-graph .pc-word.pc-correlation-3of4 {color: hsl(  0,  0%, 33%); }
.pc-recording-graph .pc-word.pc-correlation-2of5 {color: hsl(  0,  0%, 75%); }
.pc-recording-graph .pc-word.pc-correlation-3of5 {color: hsl(  0,  0%, 50%); }
.pc-recording-graph .pc-word.pc-correlation-4of5 {color: hsl(  0,  0%, 25%); }

.pc-recording-phrase {
    background-color: transparent;
}

.pc-recording-phrase:hover div.pc-word {
    background-color: red;
    color: red;
    border-color: red;
}

.pc-play-button {
    display: inline-block;
    width: 2em;
    height: 1em;
    overflow-y: hidden;
    cursor: pointer;
}


.pc-phrase-last-word {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border-right-color: red;
}

.pc-phrase-first-word {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border-left-color: red;
}
